@model WebApp.Areas.Administration.Models.Companies.NewCompanyRecordViewModel
@{ ViewData["Title"] = "Добавление сервиса"; }

<style>
    .main-container {
        box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
        border: 1px solid dimgray;
        margin-left: 100px;
        margin-right: 100px;
        padding: 10px;
    }

    .form-control:focus {
        border-color: dimgray;
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0) inset, 0px 0px 8px rgba(0, 0, 0, 0);
    }
</style>

<div class="main-container">
    <h4>Добавление сервиса</h4>
    <form asp-area="Administration" asp-controller="Companies" asp-action="AddingCompany" asp-antiforgery="true" enctype="multipart/form-data">
        <div class="form-group row">
            <label class="col-form-label col-sm-2" style="text-align: right; font-weight: bold" asp-for="Name">Логин:</label>
            <div class="col-sm-4">
                <input class="form-control" style="border-radius: 0px;" type="text" asp-for="Name" />
            </div>
            <div class="col-sm-4">
                <span asp-validation-for="Name" />
            </div>
        </div>
        <div class="form-group row">
            <label class="col-form-label col-sm-2" style="text-align: right; font-weight: bold" asp-for="Address">Адрес:</label>
            <div class="col-sm-4">
                <input class="form-control" style="border-radius: 0px;" type="text" asp-for="Address" />
            </div>
            <div class="col-sm-4">
                <span asp-validation-for="Address" />
            </div>
        </div>
        <div class="form-group row">
            <label class="col-form-label col-sm-2" style="text-align: right; font-weight: bold" asp-for="PhoneNumber">Номер телефона:</label>
            <div class="col-sm-4">
                <input class="form-control" style="border-radius: 0px;" type="text" asp-for="PhoneNumber" />
            </div>
            <div class="col-sm-4">
                <span asp-validation-for="PhoneNumber" />
            </div>
        </div>
        <div class="form-group row">
            <label class="col-form-label col-sm-2" style="text-align: right; font-weight: bold" asp-for="Description">Описание:</label>
            <div class="col-sm-4">
                <textarea class="form-control" style="border-radius: 0px; resize: none" asp-for="Description" data-val-maxlength-max="5000" rows="5" cols="40" data-val="true"></textarea>
            </div>
            <div class="col-sm-4">
                <span asp-validation-for="Description" />
            </div>
        </div>
        <div class="form-group row">
            <label class="col-form-label col-sm-2" style="text-align: right; font-weight: bold" asp-for="Type">Тип:</label>
            <div class="col-sm-4">
                <input checked type="radio" asp-for="Type" value="library" /><span> Библиотека</span><br />
                <input type="radio" asp-for="Type" value="store" /><span> Магазин</span>
            </div>
            <div class="col-sm-4">
                <span asp-validation-for="Type" />
            </div>
        </div>
        <div class="form-group row">
            <label class="col-form-label col-sm-2" style="text-align: right; font-weight: bold" asp-for="PreviewImage">Изображение</label>
            <div class="col-sm-4">
                <input class="form-control-file" asp-for="PreviewImage" type="file" />
            </div>
        </div>
        <div class="form-group row">
            <div class="offset-2 col-sm-6">
                <a class="btn btn-outline-dark" style="border-radius: 0px;" asp-area="Administration" asp-action="CompaniesList" asp-controller="Companies">Назад</a>
                <input class="btn btn-outline-dark" style="border-radius: 0px;" type="submit" value="Добавить" />
            </div>
        </div>
        <div class="validation" asp-validation-summary="ModelOnly"></div>
    </form>
</div>

@section scripts {
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}